{% load django_bootstrap5 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Django Blog</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <div class="container">
        <!-- 헤더 -->
        <h1>Django is Amazing!</h1>
            <p>
            {% if user.is_authenticated  %}
                Logged by {{ user }}<br>
                <a href="/accounts/logout/">로그아웃</a>
            {% else %}
                <a href="/accounts/login/">로그인</a>
            {% endif %}
            </p>

        <!-- 콘텐츠 -->
        {% block content %}
        {% endblock %}

        <!-- 푸터 -->
        <hr/>
        &copy; 2022. Pythonic Django
    </div>
</body>
</html>